<h1>All the pizzas!</h1>

<% @pizzas.each do |pizza| %>

  <p>Name: <%= pizza.pretty_name %> </p>
  <p>Order: <%= pizza.quantity %> x <%= pizza.topping%></p>
  <button><a href="/pizzas/<%=pizza.id%>">Show</a></button>
  <form method="post" action='/pizzas/<%=pizza.id%>/delete'>
    <input type="submit" name="delete" value="Delete">
  </form>
  <hr/>

<%end %>